@{
    Layout="Shared/_Layout.cshtml";
}

@if(Model["Departments"].Count == 0)
{
    <p>There are not departments listed</p>
}
else
{
    @foreach(var department in Model["Departments"])
    {
        <h4>@department.GetName()</h4>
        <ul>
            <li>Number of courses: @department.GetDepartmentCourses().Count</li>
            <li>Affiliated Students: @department.GetDepartmentStudents().Count</li>
        </ul>
    }
}


<hr />

@if(Model["Courses"].Count == 0)
{
    <p>There are not courses listed</p>
}
else
{
    @foreach(var course in Model["Courses"])
    {
        <h5>@course.GetName()</h5>
        <p>Students Enrolled: @course.GetCourseStudents().Count</p>
        <h6>Student Names:</h6>
        <ul>
            @foreach(var student in course.GetCourseStudents())
            {
                <li>@student.GetName()</li>
            }
        </ul>
        <hr />
    }
}
